<div id="toolbar">
    <%- include('../breadcrumb/index') %> 

    <button id="toolbar_filters-open">Filtros</button>

    <div id="gallery_views">
        <p>Ver</p>
        <ul>
            <li>
                <span class="change_view" data-cols="2">2</span>
            </li>
            <li>
                <span class="change_view" data-cols="3">3</span>
            </li>
            <li class="active">
                <span class="change_view" data-cols="4">4</span>
            </li>
        </ul>
    </div>
</div>