<div class="tablita talles_prendas_sup">
    <h4>Prendas superiores</h4>
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <th>
               Talles 
            </th>
            <th>
                xxs
            </th>
            <th>
                xs
            </th>
            <th>
                s
            </th>
            <th>
                m
            </th>
            <th>
                l
            </th>
            <th>
                xl
            </th>
            <th>
                xxl
            </th>
        </tr>
        <tr>
            <td>
                Color stock
            </td>
            <td>
                <input type="number" name="stock_for_prenda_sup_xxs" id="stock_for_prenda_sup_xxs" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_prenda_sup_xs" id="stock_for_prenda_sup_xs" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_prenda_sup_s" id="stock_for_prenda_sup_s" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_prenda_sup_m" id="stock_for_prenda_sup_m" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_prenda_sup_l" id="stock_for_prenda_sup_l" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_prenda_sup_xl" id="stock_for_prenda_sup_xl" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_prenda_sup_xxl" id="stock_for_prenda_sup_xxl" placeholder="0" value="0">
            </td>
        </tr>
    </table>

</div>