<div class="tablita talles_calzado">
    <h4>Calzado</h4>
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <th>
               Talles 
            </th>
            <th>
                35
            </th>
            <th>
                35.5
            </th>
            <th>
                36
            </th>
            <th>
                36.5
            </th>
            <th>
                37
            </th>
            <th>
                37.5
            </th>
            <th>
                38
            </th>
            <th>
                38.5
            </th>
            <th>
                39
            </th>
            <th>
                39.5
            </th>
            <th>
                40
            </th>
            <th>
                40.5
            </th>
            <th>
                41
            </th>
            <th>
                41.5
            </th>
            <th>
                42
            </th>
            <th>
                42.5
            </th>
            <th>
                43
            </th>
            <th>
                43.5
            </th>
            <th>
                44
            </th>
            <th>
                44.5
            </th>
            <th>
                45
            </th>
            <th>
                45.5
            </th>
        </tr>
        <tr>
            <td>
                Color stock
            </td>
            <td>
                <input type="number" name="stock_for_size_35" id="stock_for_size_35" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_35.5" id="stock_for_size_35.5" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_36" id="stock_for_size_36" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_36.5" id="stock_for_size_36.5" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_37" id="stock_for_size_37" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_37.5" id="stock_for_size_37.5" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_38" id="stock_for_size_38" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_38.5" id="stock_for_size_38.5" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_39" id="stock_for_size_39" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_39.5" id="stock_for_size_39.5" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_40" id="stock_for_size_40" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_40.5" id="stock_for_size_40.5" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_41" id="stock_for_size_41" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_41.5" id="stock_for_size_41.5" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_42" id="stock_for_size_42" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_42.5" id="stock_for_size_42.5" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_43" id="stock_for_size_43" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_43.5" id="stock_for_size_43.5" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_44" id="stock_for_size_44" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_44.5" id="stock_for_size_44.5" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_45" id="stock_for_size_45" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_size_45.5" id="stock_for_size_45.5" placeholder="0" value="0">
            </td>
        </tr>
    </table>

</div>