<div class="tablita talles_prendas_inf">
    <h4>Prendas inferiores</h4>
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <th>
               Talles 
            </th>
            <th>
                36
            </th>
            <th>
                38
            </th>
            <th>
                40
            </th>
            <th>
                42
            </th>
            <th>
                44
            </th>
            <th>
                46
            </th>
            <th>
                48
            </th>
        </tr>
        <tr>
            <td>
                Color stock
            </td>
            <td>
                <input type="number" name="stock_for_prenda_inferior_36" id="stock_for_prenda_inferior_36" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_prenda_inferior_38" id="stock_for_prenda_inferior_38" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_prenda_inferior_40" id="stock_for_prenda_inferior_40" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_prenda_inferior_42" id="stock_for_prenda_inferior_42" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_prenda_inferior_44" id="stock_for_prenda_inferior_44" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_prenda_inferior_46" id="stock_for_prenda_inferior_46" placeholder="0" value="0">
            </td>
            <td>
                <input type="number" name="stock_for_prenda_inferior_48" id="stock_for_prenda_inferior_48" placeholder="0" value="0">
            </td>
        </tr>
    </table>

</div>