// Colors
$white: #FFFFFF;
$black: #000000;

$gray1: #EAF0F7;
$gray2: #C8D6E5;
$gray3: #8395A7;
$gray4: #576574;
$gray5: #222F3E;

// Fonts
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;
