// Colors
$white: #FFFFFF;
$black: #000000;

$gray1: #EAF0F7;
$gray2: #C8D6E5;
$gray3: #8395A7;
$gray4: #576574;
$gray5: #222F3E;

$error:     #e74c3c;
$error_h:   #c0392b;
$success:   #2ecc71;
$success_h: #27ae60;
$warning:   #f1c40f;
$warning_h: #f39c12;

$color1:    #0652DD;

// Fonts
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;
