// Settings
@import './settings/__variables.scss';
@import './settings/__mixins.scss';

// Pages
@import './pages/__home.scss';
@import './pages/__galeria_productos.scss';
@import './pages/__ficha_producto.scss';
@import './pages/__cart.scss';
@import './pages/__login.scss';
@import './pages/__register.scss';

// Partials
@import './partials/__header.scss';
@import './partials/__footer.scss';
@import './partials/__category_group_4.scss';

// Components
@import './components/__slider_featured_products.scss';
@import './components/__banner_top.scss';
@import './components/__slider_full.scss';
@import './components/__banner_promo_wide.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;

    &:focus {
        outline: none;
    }
}

body {
    font-family: $opensans;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    border: 0;
    display: block;
}

.large {
    display: block;
    width: 100%;
    height: 2000px;
    background: gray;
}

.dnone {
    display: none;
}

.remove_button {
    border: 0px;
    padding: 0.3rem 0.3rem 0.2rem;
    background: $white;
    cursor: pointer;
    @include transition(0.2s);

    .a {
        fill: $gray3;
    }

    &:hover {
        .a {
            fill: red;
        }
    }
    &:active {
        .a {
            fill: $black;
        }
    }
}

.button_main_action {
    border: 0;
    background: $gray5;
    color: $white;
    @include font-size(14);
    font-weight: 700;
    padding: 0.8rem;
    cursor: pointer;

    &:hover {
        background: $black;
        @include shadow(0px, 10px, 20px, $gray5, 0.1);
    }
    &:active {
        background: $gray4;
    }
}
