@import './__variables.scss';
@import './__mixins.scss';

// Sections
@import './__header.scss';
@import './__footer.scss';

// Pages
@import './__galeria_productos.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $opensans;
    font-size: 16px;
    //background: $gray1;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
