<footer>
    <section id="footer_newsletter">
        <h2>join our newsletter</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet eligendi at minus
            explicabo laboriosam esse veniam ex, necessitatibus
        </p>

        <form action="#" id="form_suscription">
            <input
                type="email"
                name="footer_newsletter"
                id="footer_newsletter"
                placeholder="Correo electrónico"
            />
            <button type="submit" id="footer_newsletter--send">-></button>
        </form>
        <span>Lorem ipsum dolor sit amet consectetur</span>
    </section>

    <nav id="footer_menu">
        <ul>
            <li>
                <a href="#link1">Categoria 1</a>
            </li>
            <li>
                <a href="#link2">Categoria 2</a>
            </li>
            <li>
                <a href="#link3">Categoria 3</a>
            </li>
            <li>
                <a href="#link4">Categoria 4</a>
            </li>
            <li>
                <a href="#link5">Categoria 5</a>
            </li>
            <li>
                <a href="#link6">Categoria 6</a>
            </li>
            <li>
                <a href="#link7">Categoria 7</a>
            </li>
            <li>
                <a href="#link8">Categoria 8</a>
            </li>
            <li>
                <a href="#link9">Categoria 9</a>
            </li>
            <li>
                <a href="#link10">Categoria 10</a>
            </li>
        </ul>
    </nav>

    <div class="footer_rrss">
        <ul>
            <li>
                <a href="#fb">Facebook</a>
            </li>
            <li>
                <a href="#ig">Instagram</a>
            </li>
            <li>
                <a href="#yt">Youtube</a>
            </li>
        </ul>
    </div>
</footer>

<script src="/scripts/main.js"></script>
