<!-- Slider Recomendados inicio -->
<aside class="slider_featured_products">
    <h2>Productos recomendados</h2>
    <div class="swiper-container">
        <div class="swiper-wrapper"></div>
    </div>
</aside>
