@import '../../assets/scss/settings.scss';

.content_header {
    margin: 1rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .error:hover {
        background: $error;
    }

    .button_main_action {
        margin-left: 1rem;
    }
}
