<div class="errors_container">
                    
    <ul>
        <% for( let i = 0; i < errors.length; i++ ) { %>
            <li><%= errors[i].msg %> </li>
        <% } %>
    </ul>
    
    <button onclick="handleRemoveErrors(this);">x</button>
</div>