<div id="breadcrumb">
    <ul>
        <li>
            <a href="#link">Categoria padre</a>
        </li>
        <li class="current">
            <a href="#link">Categoria hija</a>
        </li>
    </ul>
</div>