<% const customer = locals.curCustomer %> 

<!DOCTYPE html>
<html lang="es" class="home_view">
    <head>
        <% pageTitle = locals.title !== undefined ? title : 'Mi cuenta' %> 
        
        <%- include('../partials/head') %>

    </head>

    <body>
        
        <%- include('../partials/header') %>

        <br><br><br><br>

        <main>

            <h1><%= `${customer.first_name} ${customer.last_name}` %> </h1>

            <br><br>

            <a href="/clientes/logout" class="button_main_action">cerrar sesion</a>

        </main>

    <%- include('../partials/footer') %>    
</body>
</html>
