<!DOCTYPE html>
<html lang="es" class="customer_account_view">
    <head>
        <% pageTitle = locals.title !== undefined ? title : 'Mi cuenta' %> 
        
        <%- include('../partials/head') %>

    </head>

    <body>
        
        <%- include('../partials/header') %>

        <main>

            <section class="navigation">
                <h4>
                    Mi cuenta
                </h4>
                <ul>
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                    <li>
                        <a href="#">Información de la cuenta</a>
                    </li>
                    <li>
                        <a href="#">Mis direcciones</a>
                    </li>
                    <li>
                        <a href="#">Mis pedidos</a>
                    </li>
                    <li>
                        <a href="#">Mi wishlist</a>
                    </li>
                    <li class="navigation-logout">
                        <a href="/clientes/logout">Cerrar sesión</a>
                    </li>
                </ul>

            </section>
            <section class="content_data">
                <div class="">
                    Bienvenido ${usuario}
                </div>
            </section>

        </main>

    <%- include('../partials/footer') %>    
</body>
</html>