<!DOCTYPE html>
<html lang="es" class="home_view">
    <head>
        <% pageTitle = locals.title !== undefined ? title : 'Mi cuenta' %> 
        
        <%- include('../partials/head') %>

    </head>

    <body>
        
        <%- include('../partials/header') %>

        <main>

            <h1>usuario</h1>

        </main>

    <%- include('../partials/footer') %>    
</body>
</html>
