<!DOCTYPE html>
<html lang="es" class="catalog_product_view">
    <%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

        <main>
            <article id="product_id" class="product_card">
                <div class="product_images">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/images/catalog/category/img_producto-4.png" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/catalog/category/img_producto-5.png" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/catalog/category/img_producto-1.png" alt="" />
                            </div>
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="product_details">
                    <div class="product_head">
                        <h1 class="product_name">Camisa extragrande DIOR AND JUDY BLAME</h1>
                        <div class="product_price discount">
                            <h3 class="regular_price">$8.000</h3>
                            <h3 class="special_price">$4.000</h3>
                            <h3 class="percent_off">50% OFF</h3>
                        </div>
                    </div>

                    <div class="product_attribute_color">
                        <div class="colors_wrapper">
                            <h4>Color</h4>
                            <div class="colors_options">
                                <div class="color selected">
                                    <span></span>
                                </div>
                                <div class="color">
                                    <span></span>
                                </div>
                                <div class="color">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="colors_info">
                            <h4>Azul</h4>
                        </div>
                    </div>

                    <div class="product_attribute_sizes">
                        <select name="talles" id="talles" value="">
                            <option value="default">Selecciona tu talle</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>

                    <div class="product_cart_buttons">
                        <button
                            id="add_to_cart"
                            class="button_main_action"
                            onclick="window.location.href = '/carrito'"
                        >
                            Añadir a la bolsa
                        </button>

                        <!--
                        Agregar la clase added_to_wishlist
                        para ver como queda cuando se agrega a favoritos
                     -->
                        <button
                            id="add_to_wishlist"
                            class="button_main_action"
                            onclick="alert('Agregado a lista de deseo')"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="22"
                                height="19.444"
                                viewBox="0 0 22 19.444"
                            >
                                <path
                                    class="a"
                                    d="M19.232,3.041a5.262,5.262,0,0,0-7.444,0L10.774,4.055,9.76,3.041a5.264,5.264,0,0,0-7.444,7.444L3.33,11.5l7.444,7.444L18.218,11.5l1.014-1.014a5.262,5.262,0,0,0,0-7.444Z"
                                    transform="translate(0.226 -0.499)"
                                />
                            </svg>
                        </button>
                    </div>

                    <div class="product_info_wrapper">
                        <ul class="product_info_actions">
                            <li class="product_info_action">
                                <a class="size_guide" href="#tabla_de_talles">Tabla de talles</a>
                            </li>
                            <li class="product_info_action">
                                <a class="re_stock" href="#avisarme_cuando_llegue_mi_talle"
                                    >Avisarme cuando llegue mi talle</a
                                >
                            </li>
                            <li class="product_info_action">
                                <a class="product_description" href="#descripcion"
                                    >Descripcion del producto</a
                                >
                            </li>
                            <li class="product_info_action">
                                <a class="product_composition" href="#material_y_cuidado"
                                    >Material y cuidados</a
                                >
                            </li>
                            <li class="product_info_action">
                                <a class="product_payments_methods" href="#formas_de_pago"
                                    >Envio y formas de pago</a
                                >
                            </li>
                            <li class="product_info_action">
                                <a class="product_share" href="#compartir">Compartir</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </main>

        <!-- productos recomendados -->
        <%- include('../components/slider_recomendados/index') %>

        <!-- Footer -->
        <%- include('../partials/footer') %>

        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="/scripts/main.js"></script>
    </body>
</html>
