<!DOCTYPE html>
<html lang="es" class="index_view" layout="admin">
<head>
    <% pageTitle = locals.title !== undefined ? title : 'Tienda Home' %> 
    
    <%- include('../partials/head') %>
</head>
<body>
    
    <%- include('../partials/header.ejs') %> 

    <main>

        <h1>dsadasdsadsdsa</h1>
    </main>

</body>
</html>